@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
}



:root {
	--back: #16151a;
	--teal: #00ad8a;
	--front: #1c1d1f;
	--btn: #00ffcc;
} 


body {
	font-family: Lato, sans-serif;
	background-color: var(--back);
	color: white;
}

.container {
	display: block;
}

.gallery {
	display: block;
	background-color: var(--front);
	border-radius: 20px;
}

.gallery img {
	width: 350px;
	height: 350px;
	margin: 2em;
	border-radius: 10px; 
}

.container {
	margin: 2em;
}

.wide {
	display: flex;
	background-color: var(--front);
	padding: 1em;
	border-radius: 20px;
}

.wide img {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	border-color: var(--teal);
	border-style: solid;
	border-width: thin; 
}

.wide {
	margin: 3em;
}

.mid {
	text-align: center;
	font-size: 2em;
}

.heading {
	text-align: center;
	font-size: 2em;
}

.wide .description {
	text-align: justify;
	padding-top: auto;
	align-self: center;
	padding: 2em;
}

h2:hover {
	color: var(--teal)
}

.gallery img:hover {
	/*border-style: solid; */
	border-color: var(--teal);
	border-width: thick; 
	transform: scale(1.1);
	transition-duration: 300ms;
	box-shadow: 0px 1px 47px -7px rgba(2,175,138,5);
}

.winners {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}




@media only screen and (max-width: 700px) {


	body {
		background: var(--back);
	}

	body h1 {
		text-align: center;
		font-size: 3em;
	}

	body h3 {
		text-align: center;
		font-size: 2em;
	}

	.wide img{
		width: 200px;
		height: 200px;
		margin: 0;
		padding: 0;
	}

	.gallery img {
		width: 200px;
		height: 200px;
		margin: 1em;
	}

	.gallery {
		margin: auto;
		padding: auto;
		width: 100%;
	}

	body {
		margin: 1em;
	}
	

	.heading h1 {
		font-size: 1.3em;
	}

	.wide {
		display: flex;
		flex-direction: column;
	    border-style: solid;
	    border-width: thin;
	    margin: 0px;
	    /*padding: 5px;*/
	    border-radius: 10px;
	    border-color: var(--teal);
	    background-color: var(--front);
	}

	.body {
		margin: 0px;
	}

	.gallery {
		margin: 0px;
		padding: 0px;
	}

	.body {
		padding: 0px;
	}

	.wide .logo{
		align-self: center;
	}

	.gallery .image {
		display: block;
		width: 100%;
		align-self: center;
		margin-left: 10%;
	}

	.gallery {
		background-color: var(--back);
	}

}

